body {
  background: rgb(190,183,183);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto; 
  background: white;
  padding: 20px;
  border-radius: 15px;
}

h2 {
  background: rgb(165,42,42);
  padding: 15px;
  border-radius: 15px;
  display: inline-block;
  color: white;
}
h3 {
  color: rgb(165,42,42);
  text-transform: capitalize;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.question-box {
  height: 40px;
  background: rgba(82, 82, 117, 0.605);
  /* padding: 10px; */
  border-radius: 5px;
  font-size:15px;
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 60%;
  margin-bottom: 20px;
  padding: 20px;
}

.answer-button {
  background: rgba(18, 21, 43, 0.861);
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
}

.answer-radio:checked + .answer-button {
  background: rgba(165, 42, 42, 0.662);
}

.answer-button:hover {
  background: rgba(18, 21, 43, 0.6);
}
label {
  color: rgb(18,21,43);
  margin-bottom: 5px;
  margin-top: 5px;
}
input {
  width: 40%;
  padding: 3px;
}
.btn-submit {
  margin-top: 10px;
  background-color: rgb(18,21,43) ;
  color: white;
  padding: 5px;
  cursor: pointer;
}